<br><br><br><br><br><br><br>

<footer class="section footer-classic context-dark bg-image" style="background: #7B241C;">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2># Who are us</h2>
        <hr>
        <div class="pr-xl-4">
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business
            consulting, and marketing.
          </p>
          <p>
            Neden Kullanırız?
            Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın
            amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı
            sağlayarak okunurluğu artırmasıdır.
          </p>

        </div>
      </div>
      <div class="col-md-4">
        <h2># Contacts</h2>
        <hr>
        <h3>Address:</h3>
        <h4>Sultan Mah. Kervan Cad. İhsan Sok. No: 6/1</h4>
        <h3>email:</h3>
        <h4><a href="#">myworks@jobs.com</a></h4>
        <h3>phones:</h3>
        <h4>0555 555 55 55</h4>
      </div>
      <div class="col-md-4">
        <h2># Social Media</h2>
        <hr>
        <div class="row no-gutters social-container">
          <a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a>
          <a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a>
          <a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a>
          <a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a>
        </div>
      </div>
    </div>
    <hr>
    <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span>All Rights Reserved.</span></p>
  </div>
</footer>