<div class="row">
    <h2>Welcome To Our Works</h2>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="cerceve2">
                <img src="../../assets/img/team.jpg" width="700" height="400">
                <br><br><br>
                <h4>Ekibimiz 15 yıllık deneyimi ile binlerce işe imzasını atmış bulunmaktadır. Yapılan işlerimizde en mümkün şekilde temiz olmasına dikkat edilmektedir.</h4>
                <h4>Kısa süre de istediğiniz işlerinizi halledebilen ekibimiz; "Bu kadatr kolaysa ben de yapardım." dedirtecektir.</h4>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>