<div class="row">
    <h2>Galery Photos</h2>
    <br><br>
    <div class="row">
        <div *ngFor="let galery of galeries">
            <div *ngIf="galery.category == filterBy || filterBy == 0 || filterBy == null ">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{galery.job_picture}}" class="card-img-top" alt="..." width="200" height="160">
                        <div class="card-body">
                            <a [routerLink]="['/job', galery.id]" class="card-title">{{galery.job_name | uppercase}}</a>
                            <p class="card-text">Bu bir {{galery.category}} türünde resimdir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>